<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="/public/css/style.css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">

  <!-- <link rel="stylesheet" href="css/icon-font.css"> -->

  <link rel="shortcut icon" href="../public/img/favicon.png" type="image/png">

  <title>MellRose Inn | </title>
</head>

<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">MellRose Inn</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Offer</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Menu of Services</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Testimonials</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
      </ul>
    </nav>
  </div>
  <header class="header">
    <div class="header__logo-box">
      <img src="../public/img/logo-white.png" alt="Logo" class="header__logo">
    </div>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">MellRose</span>
        <span class="heading-primary--sub">Inn</span>
      </h1>
      <a href="menu.html" class="btn btn--white btn--animated">Menu of Services</a>


    </div>
  </header>

  <main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          "Indulge in the moment, savor the flavors, at Mellrose Inn."
        </h2>
      </div>






      <div class="row">
        <div class="col-1-of-2">
          <h3 class="heading-tertiary u-margin-bottom-small">"Where every meal is a celebration"




          </h3>
          <p class="paragraph">
            Mellrose Inn is a charming restaurant located in the heart of town, where you can enjoy delicious food and a
            warm, inviting atmosphere. Our goal is to provide our guests with an unforgettable dining experience,
            whether they are joining us for a romantic dinner, a family celebration, or a casual night out with friends.
            We are passionate about serving high-quality, fresh ingredients and creating dishes that are both innovative
            and comforting.


          </p>

          <a href="#" class="btn-text">Learn more &rarr;</a>
        </div>
        <div class="col-1-of-2">
          <div class="composition">
            <img src="../public/img/nut-1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
            <img src="../public/img/nut-2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
            <img src="../public/img/nut-3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
          </div>
        </div>
      </div>
    </section>

    <section class="section-features">
      <div class="row">
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon icon-basic-world"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Attention to detail: </h3>
            <p class="feature-box__text">
              We take great care in every aspect of our restaurant, from the presentation of our dishes to the quality
              of our linens and silverware. We believe that the little details make a big difference in creating a
              memorable dining experience.


            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon icon-basic-heart"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Local focus: </h3>
            <p class="feature-box__text">
              We are proud to source many of our ingredients from local farms and purveyors. This not only supports our
              community, but also ensures that we are using the freshest and highest-quality ingredients in our dishes.
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon icon-basic-cloud"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Flexibility: </h3>
            <p class="feature-box__text">
              Whether you have dietary restrictions or specific preferences, we are happy to accommodate your needs. Our
              menu features a variety of vegetarian, gluten-free, and other options, and our chefs are always willing to
              customize dishes to your liking.


            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box__icon icon-basic-star"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Family-friendly: </h3>
            <p class="feature-box__text">
              We welcome guests of all ages, and offer a children's menu as well as high chairs and booster seats. Our
              staff is attentive and patient with young diners, and we strive to make families feel comfortable and
              welcome.


            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-services" id="section-services">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Menu of Services
        </h2>
      </div>
      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--1">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">Standard dining </span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>Two to eight people</li>
                  <li>Small gatherings</li>
                  <li>Our most common tables
                  </li>

                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">Rs 1k-2k</p>
                </div>
                <a href="#popup" class="btn btn--white">Book now!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--2">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">Booth seating</span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>Great for couples </li>
                  <li>Cozy booths</li>
                  <li>Offer extra privacy</li>
                  <li>& Comfort</li>

                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">2k-3k</p>
                </div>
                <a href="#popup" class="btn btn--white">Book now!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--3">
                &nbsp;
              </div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">Bar seating</span>
              </h4>
              <div class="card__details">
                <ul>
                  <li>Casual dining</li>
                  <li>A bar with comfortable stools</li>
                  <li>Socialize with other diners</li>
                  <li>Enjoy a drink or a quick bite</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <p class="card__price-value">4k-5k</p>
                </div>
                <a href="#popup" class="btn btn--white">Book now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--purple">Discover all programs</a>
      </div>
    </section>
    <section class="section-stories">
      <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
          <source src="../public/img/Playful_Sunday.mp4" type="video/mp4">
          <source src="../public/img/Playful_Sunday.webm" type="video/webm">
          Your browser is not supported!
        </video>
      </div>
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">What people are saying</h2>
      </div>
      <div class="row">
        <div class="story">
          <figure class="story__shape">
            <img src="../public/img/brennan.jpg" alt="picture of customer" class="story__img">
            <figcaption class="story__caption">Brennan Rose</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">"Mellrose Inn is the perfect spot for a romantic dinner
              or a special occasion.</h3>
            <p>"Absolutely amazing food and service! One of the best dining experiences I've had in a long time."</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="story">
          <figure class="story__shape">
            <img src="../public/img/patrick.png" alt="picture of customer" class="story__img">
            <figcaption class="story__caption">Patrick Porche</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Everything was absolutely flawless. And the flavors? Out
              of this world."</h3>
            <p>"I was blown away by the attention to detail at Mellrose Inn. From the perfectly pressed linens to the
              exquisite presentation of the dishes </p>
          </div>
        </div>
      </div>
      <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn-text">Read more stories &rarr;</a>
      </div>
    </section>

    <section class="section-contact">
      <div class="row">
        <div class="contact">
          <div class="contact__form">
            <div class="u-margin-bottom-medium">
              <h2 class="heading-secondary">Get in touch!</h2>
            </div>
            <!-- Update the form action to 'process_form.php' and method to 'post' -->
            <form action="/login" method="post" class="form" onsubmit="handleLogin(event)">
              <div class="form__group">
                <input type="text" class="form__input" placeholder="Full name" id="name" name="name" value="" onchange="handleInputChange()">
                <label for="name" class="form__label">Full name</label>
              </div>
              <div class="form__group">
                <input type="text" class="form__input" placeholder="Email" id="email" name="email" value="" onchange="handleInputChange()">
                <label for="email" class="form__label">Email address</label>
              </div>
              <div class="form__group u-margin-bottom-medium">
                <div class="form__radio-group">
                  <input type="radio" class="form__radio-input" id="consultation" name="appt_type" value="Consultation" required>
                  <label for="consultation" class="form__radio-label">
                    <span class="form__radio-button"></span>
                    Consultation
                  </label>
                </div>
                <div class="form__radio-group">
                  <input type="radio" class="form__radio-input" id="follow-up" name="appt_type" value="Follow-up" required>
                  <label for="follow-up" class="form__radio-label">
                    <span class="form__radio-button"></span>
                    Follow-up
                  </label>
                </div>
              </div>
              <div class="form__group">
                <button class="btn btn--purple">Get in touch &rarr;</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
  </main>

  <footer class="footer">
    <div class="footer__logo-box">
      <img src="../public/img/logo-white.png" alt="logo" class="footer__logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer_list">
            <li class="footer__item"><a href="#" class="footer__link">About</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Philosophy</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Services</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Testimonials</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built by <a href="#" class="footer__link">ANSHIKA Pvt lmt</a> Copyright &copy; 2023.
        </p>
      </div>
    </div>
  </footer>

  <div class="popup" id="popup">
    <div class="popup__content">
      <div class="popup__left">
        <img src="/public/img/detox-mason.jpg" alt="Nutrition photo" class="popup__img">
        <img src="img/detox-ginger-lemon.jpg" alt="Nutrition photo" class="popup__img">
      </div>
      <div class="popup__right">
        <a href="#section-services" class="popup__close">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
        <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
        <p class="popup__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio similique recusandae expedita modi numquam sunt
          reprehenderit, quisquam, odio quidem perspiciatis blanditiis. Quas asperiores, voluptatem id minus optio vitae
          laudantium eligendi ab. Repellendus, blanditiis? Nostrum nulla cumque quam minima asperiores doloremque
          similique saepe ut, reiciendis pariatur quibusdam molestiae dolor exercitationem veniam odit minus totam
          dolorum. Illum itaque expedita eius praesentium reiciendis, amet similique facere doloremque tempora, totam
          rerum at sit ut?
        </p>
        <a href="" class="btn btn--purple">Book Now</a>
      </div>
    </div>
  </div>

  <!-- <section class="grid-test">
    <div class="row">
      <div class="col-1-of-2">Col 1 of 2</div>
      <div class="col-1-of-2">Col 1 of 2</div>
    </div>
    <div class="row">
      <div class="col-1-of-3">Col 1 of 3</div>
      <div class="col-1-of-3">Col 1 of 3</div>
      <div class="col-1-of-3">Col 1 of 3</div>
    </div>
    <div class="row">
      <div class="col-1-of-3">Col 1 of 3</div>
      <div class="col-2-of-3">Col 2 of 3</div>
    </div>
    <div class="row">
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-1-of-4">Col 1 of 4</div>
    </div>
    <div class="row">
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-2-of-4">Col 2 of 4</div>
    </div>
    <div class="row">
      <div class="col-1-of-4">Col 1 of 4</div>
      <div class="col-3-of-4">Col 3 of 4</div>
    </div>
  </section> -->

</body>
<script>
  async function handleLogin(event) {
    event.preventDefault(); // Prevent the default form submission

    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;
    const apptType = document.querySelector('input[name="appt_type"]:checked').value;

    const formData = {
      name: name,
      email: email,
      appt_type: apptType
    };

    try {
      const response = await fetch('http://localhost:3001/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      });

      if (response.ok) {
        const result = await response.json();
        alert('Form submitted successfully!');
        console.log(result);
      } else {
        alert('Form submission failed!');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Form submission failed!');
    }
  }
</script>


</script>

</html>